/* Estilos generales */

body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

div {
    padding: 20px;
    border-radius: 10px;
}

div.content {
    background-color: cornflowerblue;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    font-family: Ubuntu;
    font-size: 14px;
}

div.header {
    display: block;
    color: white;
    text-align: center;
    background-color: cornflowerblue;
    box-sizing: border-box;
    background-size: 30%;

}

div.menu {
    display: block;
    color: white;
    background: cornflowerblue;
    text-align: center;
    box-sizing: border-box
}

div.menu a:link {
    color: white;
    text-decoration: none;
    padding: 20px;

}

div.menu a:hover {
    color: khaki;
    background: #ffffff;
}

div.menu a:visited {
    text-decoration: none;
}

h1 {
    font-size: 36px;
    margin: 0;
    padding: 1rem;
    text-align: center;
}

p {
    margin: 0;
    padding: 1rem;
}

form {

    margin: 0 auto;
    max-width: 800px;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

}


li {
    margin: 0 1rem;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    text-transform: uppercase;
    padding: 1rem;
    transition: background-color 0.2s ease-in-out;
}

a:hover {
    background-color: #eee;
}
/*logo*/

/* Estilos del buscador */

#ingredients-container {
    display: flex;
    flex-wrap: wrap;
}

.ingredient-item {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.ingredient-item span {
    margin-right: 0.5rem;
}

.ingredient-item button {
    background: none;
    border: none;
    color: #ff0000;
    cursor: pointer;
    font-size: 1.5rem;
}

.ingredient-item button:focus {
    outline: none;
}

#add-ingredient-button,
#search-button {
    background-color: #000000;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
}

#add-ingredient-button:hover,
#search-button:hover {
    opacity: 0.8;
}

#add-ingredient-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#add-ingredient,
#search-input {
    font-size: 1rem;
    padding: 0.5rem;
    margin-right: 0.5rem;
}

#search-input {
    width: 100%;
}

#ingredients-label {
    font-weight: bold;
    margin-top: 1rem;
}

#search-label {
    font-weight: bold;
    margin-top: 1rem;
}

#delete-icon {
    font-size: 1.5rem;
    margin-left: 0.5rem;
    color: #ff0000;
    cursor: pointer;
}

#delete-icon:hover {
    opacity: 0.8;
}

/* Estilos específicos para el formulario de la página */


#add-ingredient-button {
    display: inline-block;
}

#delete-icon {
    display: inline-block;
}


.login {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login h1 {
    margin: 0 0 20px;
    text-align: center;
    font-size: 24px;
    color: #333;
}

.login-input {
    margin-bottom: 10px;
}

.login-input label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.login-input input[type="email"],
.login-input input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.buttons {
    margin-top: 20px;
    text-align: center;
}

.buttons input[type="submit"],
.buttons input[type="reset"] {
    display: inline-block;
    margin-right: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    cursor: pointer;
}

.buttons input[type="submit"]:hover,
.buttons input[type="reset"]:hover {
    background-color: #555;
}

div.search {
    border: 1px solid #ccc;

}

div.ingredients-container {
    border: 1px solid #000;
    background-color: #fff;
    width: 30%;
    height: 15%;
}
div.recipes-list {
    border: 1px solid #000;
    width: 40%;
}

div.recipe-suggestions {
    border: 1px solid #000;
    width: 40%;
}

div.allergen-list {

}

div.footer {
    display: block;
    background-color: cornflowerblue;
    color: black;
    text-align: right;
    padding: 5px;
    box-sizing: border-box
}

.table-footer {
    margin: auto;
    text-align: center;
}

div.pie a:link,
a:visited,
a:hover {
    color: white;
    text-decoration: none;
}