/* Estilos generales */

@font-face {
    font-family: 'epilepsja';
    src: url('../css/epilepsja.otf') format('opentype');
}

html, body {
    height: 100%;
}

body {
    background: url("https://www.recetasderechupete.com/wp-content/themes/derechupete/img/patterns_rdr2.png");
    font-family: Amatic SC, serif;
    font-size: 24px;
    color: #444444;
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow: auto;
}

div {
    padding: 20px;
    box-sizing: border-box;
}

div.content {
    background-color: #ffffff;
    margin: auto;
    width: 65%;
    box-shadow: 5px 5px 15px gray;
    display: flex;
    flex-direction: column;
    min-height: 450px;
}

div.header {
    display: block;
    text-align: center;
    background-color: #ffffff;
    box-sizing: border-box;
    background-size: 30%;
    padding: 0px;
}

h1, h2, h3 {
    color: darkslategrey;
    margin: 0px;
    font-family: Amatic SC, serif;
}

p {
    font-family: Jost;
    font-size: 16px;
}

ol, ul {
    font-family: Jost;
    font-size: 16px;
}

div.principal-container {
    display: inline-flex;
    flex: 1;

}

/* Estilo general formularios */

input {
    margin-bottom: 1px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}

.buttons {
    margin-top: 10px;
    text-align: center;
}

input[type="submit"],
input[type="reset"],
input[type="button"] {
    margin-right: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: darkslategrey;
    cursor: pointer;
}

.buttons input[type="submit"]:hover,
.buttons input[type="reset"]:hover {
    background-color: #555;
}

.buttos a:link,ronnie
.buttons a:visited{
    text-decoration: none;
}

textarea {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
}


/* Estilos menu */

div.menu {
    display: block;
    background: #ffffff;
    text-align: center;
    border-top: 1px solid #fab641;
    border-bottom: 1px solid #fab641;
    padding: 1px;
}

div.menu a,
div.login a,
div.login-header a,
div.user-session a {
    color: #444444;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: color 0.3s ease, background-color 0.3s ease;
}

div.menu a:hover {
    color: #fab641;
}

div.menu a:visited {
    text-decoration: none;
}

div.login-header {
    text-align: center;
    display: block;
    color: black;
    background: #ffffff;
    border: 0px;
}

div.login a:link,
div.login-header a:link,
div.user-session a:link {
    color: #000000;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

div.login a:hover,
div.login-header a:hover,
div.user-session a:hover {
    color: #fab641;
}

div.login a:visited,
div.login-header a:visited,
div.user-session a:visited {
    text-decoration: none;
}

div.user-logged {
    text-align: center;
    display: block;
}

/* MENU DESPLEGABLE */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    line-height: 1.5;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
< < < < < < < Updated upstream display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*header*/

div.top-header {
    display: flex;
    width: 100%;
    padding: 0px;
}

.logo {
    display: flex;
    align-items: center;
    width: 70%;
    height: 15%;
    font-family: 'epilepsja';
    font-size: 64px;
    color: darkslategrey;
    padding: 0px;
}

.logo img {
    min-width: 150px;
    width: 15%;
}

div.user-session {
    display: inline-block;
    text-align: right;
    align-self: flex-end;
    width: 29%;
    padding: 0px;
    padding-bottom: 20px;

}

.user-container li {
    list-style: none;
}

.user-container {
    display: none;
    position: absolute;
    background-color: #e8eaf1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 18%;
}

.user-container a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.user-session:hover .user-container {
    display: block;
}


/* Estilos específicos para login y registro */

div.login-content,
div.main-register-form {
    width: 60%;
    margin: auto;
    text-align: center;
    display: block;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login,
div.register-form {
    width: 90%;
    margin: 30px auto 0;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}


/* Buscador y listado de sus recetas */


div.search-left {
    display: inline-flex;
    width: 60%;
    margin: auto;
    color: black;
    border: 1px solid darkslategrey;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e8eaf1;
    padding: 10px;
}

div.buscador {
    padding: 0px;
}

div.search-right {
    display: inline-flex;
    width: 39%;
}

div.chef-image-right {
    margin: auto;
    display: inline-flex;
}

div.chef-image-right img {
    width: 75%;
    margin: auto;
}

div.ingredients-container {
    padding: 5px;
    border-radius: 5px;
    color: #333;
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 16px;
}

div.recipes-list {
    vertical-align: top;
    width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid #636363;
    box-shadow: 5px 5px 15px #694d19;
}

div.recipes-list a:link,
div.recipes-list a:hover,
div.recipes-list a:visited {
    text-decoration: none;
    color: black;
}

div.recipe-content {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    padding: 0px;
}

div.image-content {
    display: inline-flex;
    vertical-align: top;
    width: 39%;
}

div.image-content img {
    width: 75%;
}

div.recipe-suggestions {
    vertical-align: top;
    width: 80%;
    margin: auto;
    background-color: white;
    border: 1px solid #636363;
    box-shadow: 5px 5px 15px #694d19;
}

div.recipe-suggestions a:link,
div.recipe-suggestions a:hover,
div.recipe-suggestions a:visited {
    text-decoration: none;
    color: black;
}

div.allergen-list {
}

div.option,
div.ingredient-wrapper {
    padding: 5px;
    --tw-bg-opacity: 1;
    align-items: center;
    background-color: #fdc86c;
    border-radius: .5rem;
    display: inline-flex;
    justify-content: space-between;
    letter-spacing: -.025em;
    margin-bottom: .5rem;
    margin-right: .25rem;
    padding: .25rem .5rem;
    text-align: center;
}


.ingredient-item {
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 0.5rem;
    padding: 0.5rem;
}

.ingredient-item span {
    margin-right: 0.5rem;
}


.ingredient-item button:focus {
    outline: none;
}

#add-ingredient-button,
#search-button {
    margin-right: 10px;
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    background-color: darkslategrey;
    cursor: pointer;
}

#add-ingredient-button:hover,
#search-button:hover {
    opacity: 0.8;
}

#add-ingredient-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#add-ingredient,
#search-input {
    padding: 0.5rem;
    margin-right: 0.5rem;
}

#search-input {
    width: 100%;
}

#ingredients-label {
    font-weight: bold;
    margin-top: 1rem;
}

#search-label {
    font-weight: bold;
    margin-top: 1rem;
}


#add-ingredient-button {
    display: inline-block;
}

div.no-results {
    text-align: center;
}

/* footer */

div.footer {
    display: block;
    background-color: white;
    color: black;
    text-align: right;
    padding: 5px;
    border-top: 1px solid #fab641;
    border-bottom: 1px solid #fab641;
}

.table-footer {
    margin: auto;
    text-align: center;
}

div.footer-redes {
    margin: auto;
    padding: 1px;
    text-align: center;
}

div.footer-redes a:link,
div.footer-redes a:visited{
    text-decoration: none;
    color: #444444;
}


div.footer-redes i {
    color: darkslategrey;
}

/* Estilo formulario de contacto */

div.feedback-content {
    width: 70%;
    margin: auto;
    text-align: center;
    display: block;
    color: black;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e8eaf1;
}

.contact-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid darkslategrey;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #e8eaf1;
}

div.contact-form form {
    max-width: 420px;
    margin: 50px auto;
}

div.contact-form-left {
    display: inline-block;
    width: 49%;
    background-color: #e8eaf1;
}

div.contact-form-rigth {
    text-align: center;
    vertical-align: top;
    display: inline-block;
    width: 50%;
    background-color: #e8eaf1;
}

.feedback-input {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 500;
    border-radius: 5px;
    line-height: 22px;
    background-color: white;
    border: 1px solid #ccc;
    transition: all 0.3s;
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input:focus {
    border: 2px solid #000000;
}

textarea {
    height: 150px;
    line-height: 150%;
    resize: vertical;
    width: 100%;
}


[type="submit"]:hover {
    background: #595959;
}

/* Estilo formulario agregar recetas */

div.main-form {
    border: 1px solid #ccc;
    width: 100%;
    background-color: #e8eaf1;
    border: 1px solid darkslategrey;
}

.dificultad-form {
    display: inline-block;
}

/*Recipe Request*/
.recipe-box a {
    text-decoration: none;
    color: #444444;
    padding: 0%;
}

.recipe-box a:visited {
    text-decoration: none;
}

.pending-list {
    width: 100%;
    display: flex;
    padding: 0%;
    border-color: #444444;
    border-top: solid;
    border-bottom: solid;
    border-width: thin;
}

.recipe-pending {
    width: 60%
}

.recipe-date {
    width: 40%
}

/*botón favorito*/

.favorite-button {
    display: inline-block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.favorite-button .heart {
    width: 24px;
    height: 24px;
    background-image: url('../images/corazon-vacio.png');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease-in-out;
    display: block;
    background-size: contain;
}

.favorite-button.is-favorite .heart {
    background-image: url('../images/corazon-lleno.png');
}

/* Estilos para el detalle de la receta */
div.title {
    text-align: center;
    margin:0%;
}

div.buttons {
    margin-top: 10px;
    text-align: center;
}

div.image {
    text-align: center;
    margin-bottom: 20px;
}

div.image-content img {
    max-width: 100%;
    height: auto;
}

div.ingredients {
    margin-bottom: 20px;
}

div.like {
    text-align: right;
    margin: 0%;
    padding: 0% 15% 0% 0%;
}

button.favorite-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

div.recipe-details {
    margin-bottom: 20px;
}

div.description {
    margin-bottom: 20px;
}

div.difficulty-duration{
    display: flex;
}

div.ingredients,
div.difficulty,
div.duration,
div.category,
div.unit-time {
    padding-bottom: 3%;
    margin: 0%;
}

div.difficulty{
    padding-right: 20%;
}

div.image-position{
    display: flex;
    padding-bottom: 0%;
    margin: 0%;
}

div.text-image img{
    width: 100%;
    padding-top: 15%;
    padding-left: 20%;
}

div.image-recipe{
    width: 80%;
    padding: 0%;
    margin: 0%;
}

div.description-date{
    padding: 0px 40px;
}
div.description{
    padding-top: 0%;
    padding-bottom: 0%;
    margin: 0%;
}

div.opinion{
   padding: 0px 40px;
}
div.recipe-details h2 {
    margin-bottom: 10px;
}

div.recipe-details p {
    margin-bottom: 5px;
}

div.buttons input[type="submit"] {
    background-color: darkslategrey;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

div.buttons input[type="submit"]:hover {
    background-color: #555;
}

div.buttons input[type="radio"] {
    margin-right: 5px;
}

div.buttons label {
    margin-right: 10px;
    font-weight: normal;
}

textarea#comment {
    width: 100%;
    resize: vertical;
}

.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    width: 200px;
    display: flex;
    /* the hidden clearer */
}
.star-cb-group * {
    font-size: 1rem;
}
.star-cb-group > input {
    display: none;
}
.star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 2em;
    white-space: nowrap;
    cursor: pointer;
}
.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
    font-size: 30px;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
    font-size: 30px;
}
.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: 0.5em;
    margin-left: -0.5em;
}
.star-cb-group > .star-cb-clear + label:before {
    width: 0.5em;
}
.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
    font-size: 30px;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #e52;
    text-shadow: 0 0 1px #333;
    font-size: 30px;
}

.valoration-fieldset {
    border: 0;
    width: 5em;
    border-radius: 1px;
    padding: 1em 1.5em 0.9em;
    margin: 1em auto;
}

#log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
}

.valoration-rate{
    display: flex;
    height: 100px;
}
.valoration-title{
    width:25%;
    padding: 0%;
    height: 100px;
}
.valoration-fieldset{
    width:60%;
    height: 100px;
    margin: 0px;
    padding: 0%;
}
.valoration{
    padding:0%;
}

.title-comment{
    font-family: Amatic SC, serif;
    font-size: x-large;
    font-weight: bolder;
    pading-botton:2%
}

.content-comment{
    font-family: Amatic SC, serif;
    font-size: x-large;
    padding-right: 5%;
    pading-botton:2%
}

.text-image{
    width: 30%
}

.text-description{
    width: 50%
}

.empty-image-div{
    width: 10%
}

.comment{
    margin: 1px;
    background-color: white;
}

.comments-title{
    margin-bottom: 15px;
    padding:0%;
}